<?xml version="1.0" encoding="utf-8"?>
<manifest package="lovejazzie.convertToCoordinate"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".convert"
            android:enabled="true"
            android:exported="false"
            android:process=":ture">
        </service>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.action.NEW_PICTURE"/>
                <action android:name="com.android.camera.NEW_PICTURE"/>

                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>

        <activity android:name=".MapActivity">
        </activity>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Rpxkb6YB87h9zN8EYTrzgIcf"/>
    </application>

</manifest>
